nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;

  button {
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.3s ease;
    border-radius: 5px;
    outline: none;
    z-index: 10;
    svg {
      margin-right: 7px;
    }
    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
